/* CSS-файл - полньій комплект подключения шрифта*/
/* подвязьівание шрифта */

@font-face {      
    font-family: "GunnyRewritten";      /* Сімейство шрифту */
    font-style: normal;                 /* зображення шрифту */
    font-weight: 400;                   /* насиченість */
    font-display: swap;                 /* font-display: swap рекомендується використовувати для заголовків (спосіб відображення в браузері) */
      src: local("Kaushan Script"),     /* Функція local. Браузер спочатку спробує знайти шрифт локально (не працює навіть у тій самій директорії) */
          /* Якщо не вийде, завантажить woff2, вказуємо директорію, де розташовується шрифт з таким розширенням */
           url("/fonts/kaushanscript.woff2") format("woff2"),
          /* Якщо браузер не підтримує woff2, завантажить woff вказуємо директорію, де розташовується шрифт з таким розширенням */
           url("/fonts/kaushanscript.woff") format("woff");
}

h1.gunny {                             /* применение шрифта */
    font-family: GunnyRewritten;
    text-align: center;                /* контроль присоединения данного css*/
}